
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Junayed Rahaman">
    <title>Pocket Money | Day to day budgeting application</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: url('/images/Pattern.png') top left repeat, #dae0e6;
}
.col-centered{
  float: none !important;
  margin: 0 auto !important;
}
.btn-danger{
    font-size: 16px;
    background-color: crimson !important;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;border-radius: 3px !important;
}
.btn-danger:hover{
    background-color: rgb(159, 14, 43) !important; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}
.btn-success{
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;border-radius: 3px !important;
}
.btn-success:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}
    </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-centered">

                    <div class="card my-5">
                        <h5 class="card-header text-center">Category: <%= sTransaction.category %></h5>
                            <div class="card-body">
                                <h5 class="card-title"><%= sTransaction.title %></h5>
                            <p class="card-text">Description: <%= sTransaction.description %></p>
                            <p class="card-text">Amount(Income/Expense): <%= sTransaction.action %><%= sTransaction.amount %></p>
                            <p style="text-transform: capitalize;" class="card-text">Payment Mode: <%= sTransaction.paymentMode %></p>
                            <p class="card-text">Date Created: <%= sTransaction.created %></p>
                            <p class="card-text">By User: <%= currentUser %></p>

                            <a href="/transaction/<%=sTransaction._id%>/edit" class="btn btn-success btn-lg"><i class="fa-solid fa-file-pen"></i> Edit</a>

        <form style="display: inline-table;" action="/transaction/<%=sTransaction._id%>/?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-lg ml-2"><i class="fa-solid fa-trash"></i> Delete</button>
        </form>

                            </div>
                    </div>   
                </div>
            </div>
        </div>
    </body>

    <script src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>
